<% content_for :title, "New note" %>

<div class="flex flex-col items-center md:w-1/2 w-full h-full p-2 gap-4">
  <div class="flex w-full justify-between">
    <%= link_to notes_path,
      class: "p-2 rounded-lg" do %>
      <%= svg_icon "arrow-left", class: "w-6 dark:invert" %>
    <% end %>
  </div>

  <div class="flex-1 w-full"><%= render "form", note: @note %></div>
</div>
